u-me-1 {
  margin-left: 1rem;
}
u-me-2 {
  margin-left: 2rem !important;
}
u-me-4 {
  margin-left: 4rem !important;
}
u-me-6 {
  margin-left: 6rem !important;
}
u-me-8 {
  margin-left: 8rem !important;
}
u-ms-1 {
  margin-right: 1rem !important;
}
u-ms-2 {
  margin-right: 2rem !important;
}
u-ms-4 {
  margin-right: 4rem !important;
}
u-ms-6 {
  margin-right: 6rem !important;
}
u-ms-8 {
  margin-right: 8rem !important;
}
